@model School.Models.Teacher
@{
    ViewData["Title"] = "Add Teacher";
}
<h2>Add Teacher</h2>

@if (TempData["Error"] != null)
{
     <div class="alert alert-danger">@TempData["Error"]</div>
}

<form method="post" asp-action="New" asp-controller="TeacherPage">
    @Html.AntiForgeryToken()
    <div class="mb-3">
        <label class="form-label">First name</label>
        <input class="form-control" asp-for="TeacherFname" />
        <span class="text-danger" asp-validation-for="TeacherFname"></span>
    </div>
    <div class="mb-3">
        <label class="form-label">Last name</label>
        <input class="form-control" asp-for="TeacherLname" />
        <span class="text-danger" asp-validation-for="TeacherLname"></span>
    </div>
    <div class="mb-3">
        <label class="form-label">Employee # (T####)</label>
        <input class="form-control" asp-for="EmployeeNumber" />
        <span class="text-danger" asp-validation-for="EmployeeNumber"></span>
    </div>
    <div class="mb-3">
        <label class="form-label">Hire Date</label>
        <input class="form-control" type="date" asp-for="HireDate" />
        <span class="text-danger" asp-validation-for="HireDate"></span>
    </div>
    <div class="mb-3">
        <label class="form-label">Salary</label>
        <input class="form-control" asp-for="Salary" />
        <span class="text-danger" asp-validation-for="Salary"></span>
    </div>
    <div class="mb-3">
        <label class="form-label">Work Phone</label>
        <input class="form-control" asp-for="TeacherWorkPhone" />
        <span class="text-danger" asp-validation-for="TeacherWorkPhone"></span>
    </div>

    <button class="btn btn-primary" type="submit">Add</button>
    <a class="btn btn-outline-secondary" href="/Teacher">Cancel</a>
</form>

@section Scripts {
<partial name="_ValidationScriptsPartial" />
 }
