@model School.Models.Teacher

<h3>Are you sure you want to delete @Model.TeacherFName @Model.TeacherLName?</h3>

<form asp-action="Delete" method="post">
    <input type="hidden" name="id" value="@Model.TeacherId" />
    <button type="submit">Yes, Delete</button>
    <a asp-action="List">Cancel</a>
</form>